common/node_modules
api-gateway/node_modules
auth-microservice/node_modules
cart-microservice/node_modules
users-microservice/node_modules
stock-microservice/node_modules
orders-microservice/node_modules
products-microservice/node_modules
shipping-microservice/node_modules
notifications-microservice/node_modules

common/dist
api-gateway/dist
cart-microservice/dist
auth-microservice/dist
users-microservice/dist
stock-microservice/dist
orders-microservice/dist
products-microservice/dist
shipping-microservice/dist
notifications-microservice/dist

# compiled output
/dist
/node_modules
/build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
common/tsconfig.tsbuildinfo
